.navbar-logo {
  width: 50px;
}

.header {
  background-color: orange;
}
.footer {
  background-color: orange;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1cm;
}

.navbar {
  color: aliceblue;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  font-family: serif;
  font-style: italic;
}

.form-signin {
  text-align: center;
}

.form-signin .form-logo {
  width: 20%;
}
.form-logo {
  width: 10px;
}
